<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="stylesheets/gamesenpai.css" />

    <!-- Google fornts -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet" />

    <title>Game Senpai</title>
</head>

<body id="coaches">
    <ul>
        <li><a href="/">HOME</a></li>
        <li>
            <a class="active" href="/coaches">COACHES</a>
        </li>
        <li><a href="/games">GAMES</a></li>
    </ul>

    <h1>Coach Page</h1>

    <div class="sidebar">
        <span>Games</span>
        <% games.forEach(game => { %>
        <button class="btn" onclick="filterSelection(<%= game.name %>)">
            <%= game.name %>
        </button>
        <% })%>
    </div>

    <div class="coachContainer">
        <% coaches.forEach(coach => { %>
        <div class="coach <%= coach.games %>">
            <div class="coachImg">
                <img src="<%= coach.image %>.jpg" alt="profile photo" />
            </div>
            <div class="coachDesc">
                <div class="coachName">
                    <%= coach.name %>
                </div>
                <div class="gameList">
                    <% coach.games.forEach(game => { %>
                    <div class="gameName"><%= game %></div>
                    <% })%>
                </div>
                <div class="rating">
                    <% let total = coach.ratings.reduce((sum, num) => sum + num) %>
                    <%= Math.round(total / coach.ratings.length * 10) / 10 %>
                    <!-- Change both 100's in line above to control rounding place -->
                </div>
            </div>
        </div>
        <% })%>
    </div>
</body>

</html>