<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/gamesenpai.css" />

        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Google fornts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
            rel="stylesheet"
        />
        
        <title>Game Senpai - <%= coach[0].name %></title>
    </head>

    <body id="coaches">
        <div class="coachBackGnd"></div>

        <ul>
            <li><a href="/">HOME</a></li>
            <li>
                <a class="active" href="/coaches">COACHES</a>
            </li>
            <li><a href="/games">GAMES</a></li>
        </ul>

        <h1><%= coach[0].name %></h1>
        
        <div class="wrap">
            <div class="coach single">
                <img src="<%= coach[0].image %>.jpg" alt="coach img" class="singleCoachImg">
                <div class="coachName title">
                    <%= coach[0].name %>
                </div>
                <hr>
                <div class="coachRate">
                    <div class="outerStars">
                        <% let total = coach[0].ratings.reduce((sum, num) => sum +
                            num) %>
                        <div class="innerStars" style="width: <%= Math.round(total / coach[0].ratings.length *
                        20) %>%;"></div>
                    </div>
                </div>
                <div class="title" style="margin-top: 2%;">
                    Game
                </div>
                <hr>
                <% coach[0].games.forEach(game => { %>
                <div class="gameName">
                    <a href="/games/<%= game.toLowerCase().replace(/\s+/g,'-'); %>">
                    <%= game %>
                    </a>
                </div>
                <% })%>
            </div>
        </div>

        <div class="desc footnote">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent viverra magna quis venenatis posuere. Maecenas tempor
                iaculis orci. Suspendisse potenti. Aenean vitae elementum felis.
                Morbi quis cursus dui. Sed sapien turpis, facilisis eget
                convallis eget, gravida et sem. Proin scelerisque mauris et odio
                pharetra condimentum. Sed et sem et quam iaculis porta. Vivamus
                quis aliquet felis. Pellentesque id pharetra tortor. Nulla in
                fringilla neque. Aenean scelerisque enim sit amet turpis
                consectetur finibus. Aenean ut nisi eleifend, aliquam velit vel,
                malesuada ipsum. Sed in vulputate enim. Aenean tincidunt sit
                amet neque sed pulvinar. Quisque arcu ante, tincidunt sed
                convallis ac, egestas egestas eros. Suspendisse tempor ex id
                risus scelerisque lacinia nec et sem. Suspendisse elit lorem,
                auctor in mi vehicula, ultricies porttitor ex. Vivamus sodales
                pellentesque justo, sit amet lobortis sem mattis ut. In aliquam
                sagittis justo, sit amet commodo ipsum semper sit amet.
            </p>
        </div>
        
    </body>
</html>